<h1>NYC-SRC </h1>

		<section>
		<div >
		<a class="twitter-timeline" href="https://twitter.com/hiv_nyc" data-widget-id="573618627972308992">Tweets by @hiv_nyc</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		<div class="blog">
		<a href="https://blog.aids.gov/" title="blog.aids.gov"><img src="https://blog.aids.gov/wp-content/uploads/blog-badge.png"   width="200" height="75" alt="blog.aids.gov" /></a></div>
		</section>

		<dev class="sectiontwo">

		<div class="widg">
		<script type="text/javascript" src="https://aids.gov/scripts/fed-widget.js"></script><noscript>The   HIV/AIDS Federal News Feed consolidates news shared by many Federal agencies.   Follow the following feeds to learn about program or policy updates, new   resources, funding opportunities , upcoming events, and the latest   research developments from <a href="http://feeds.feedburner.com/aids/gov">AIDS.gov</a>, <a href="http://www.hhs.gov/rss/">HHS</a>, <a href="http://www.niaid.nih.gov/links_policies/help/pages/rsshelp.aspx">NIH</a>, <a href="http://www.aidsinfo.nih.gov/rss">AIDSInfo</a>, <a href="http://www.samhsa.gov/rss/">SAMHSA</a>, and <a href="http://www2c.cdc.gov/podcasts/">CDC</a>.</noscript></div>
		
		<div class="ntlhiv">
		<script type="text/javascript" src="https://www.aids.gov/scripts/nhaswidget.js"></script><noscript><a href="https://www.aids.gov/federal-resources/policies/national-hiv-aids-strategy/" title="National HIV/AIDS Strategy"><img src="https://www.aids.gov/images/thumb-nhtd-widget.jpg" width="215" height="180" alt="National HIV/AIDS Strategy" class="strategy"/></a></noscript></div>

		<div class="res">
		<a href="http://www.aids.gov/federal-resources/policies/national-hiv-aids-strategy/" title="National HIV/AIDS Strategy"><img src="http://www.aids.gov/images/thumb-nhtd-widget.jpg" width="215" height="180" alt="National HIV/AIDS Strategy" /></a></div>
	</div>


		
		

<!--<div class="container-fluid">
		<div class="containerarticles">
		<div class="row">
		<div class="col-md-4">
			<p>This is the first of the third paragraphs, consectetur adipiscing elit. Sed suscipit vestibulum dignissim. Nunc at lacus euismod, ullamcorper orci a, pulvinar mi. Nam leo dui, ultrices sit amet magna id, pharetra hendrerit tellus. Suspendisse viverra eros vitae bibendum lobortis. Sed eget rhoncus sapien. Integer aliquam eros enim, non suscipit neque fringilla sed. In turpis urna, eleifend et erat sed, pulvinar commodo ligula. Nulla sit amet porttitor dolor. Nulla at ipsum et ipsum aliquet feugiat. Proin nec arcu volutpat, dictum arcu mollis, iaculis tellus.</p>

			<p>This is the first of the third paragraphs, consectetur adipiscing elit. Sed suscipit vestibulum dignissim. Nunc at lacus euismod, ullamcorper orci a, pulvinar mi. Nam leo dui, ultrices sit amet magna id, pharetra hendrerit tellus. Suspendisse viverra eros vitae bibendum lobortis. Sed eget rhoncus sapien. Integer aliquam eros enim, non suscipit neque fringilla sed. In turpis urna, eleifend et erat sed, pulvinar commodo ligula. Nulla sit amet porttitor dolor. Nulla at ipsum et ipsum aliquet feugiat. Proin nec arcu volutpat, dictum arcu mollis, iaculis tellus.</p>

			<p>This is the first of the third paragraphs, consectetur adipiscing elit. Sed suscipit vestibulum dignissim. Nunc at lacus euismod, ullamcorper orci a, pulvinar mi. Nam leo dui, ultrices sit amet magna id, pharetra hendrerit tellus. Suspendisse viverra eros vitae bibendum lobortis. Sed eget rhoncus sapien. Integer aliquam eros enim, non suscipit neque fringilla sed. In turpis urna, eleifend et erat sed, pulvinar commodo ligula. Nulla sit amet porttitor dolor. Nulla at ipsum et ipsum aliquet feugiat. Proin nec arcu volutpat, dictum arcu mollis, iaculis tellus.</p>
</div>	!-->



