<div class="container">
	<div class="page-header">
		<h1>NYC-SRC</h1>
	</div>

		<section>
		<div class="row">
			<div class="col-md-4">
			<a class="twitter-timeline" href="https://twitter.com/hiv_nyc" data-widget-id="573618627972308992">Tweets by @hiv_nyc</a> 
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="res">
				<a href="http://www.aids.gov/federal-resources/policies/national-hiv-aids-strategy/" title="National HIV/AIDS Strategy"><img src="http://www.aids.gov/images/thumb-nhtd-widget.jpg" width="215" height="180" alt="National HIV/AIDS Strategy" /></a>
				</div>
			</div>
		</div>

		<div class="blog">
		<a href="https://blog.aids.gov/" title="blog.aids.gov"><img src="https://blog.aids.gov/wp-content/uploads/blog-badge.png"   width="200" height="75" alt="blog.aids.gov" /></a></div>
		</div>
		</section>

	<div class="container">
		<div class="row">
			<div class="articles-list">
			<ul>
				<% @articles.each do |article| %>
				<li>
					<%=link_to article.title, article_path(article)%>
					<%=article.body%>
				</li>
			</ul>
			<%end%>
		</div>
	</div>


	




		
		







