<a id="Info"></a>

<div class="container"> 
		<div class="row">
			<div class="page-header">
				<h1>Recent Articles</h1>
			</div>
			
				<div class="col-md-4">
				<h2>Would A Pill To Protect Teens From HIV Make Them Feel Invincible?</h2>
				<h5>NPR: MARCH 11, 2015</h5>
				<p>Leon Richardson is 18 years old and tall, charismatic and thoughtful about his sexual health. He understands that as a young, gay black man, he is in the demographic with the highest rate of HIV infections in the country. But when Richardson learned that he could be part of an HIV prevention pill research study for young people, he was skeptical. "I was scared. I had to really think about it, 'What is this drug going to do to me?' " he says. <%= link_to 'read more', "http://www.npr.org/blogs/health/2015/03/11/392362374/would-a-pill-to-protect-teens-from-hiv-make-them-feel-invincible", target: "_blank" %> </p>

				</div>

				<div class="col-md-4">
				<h2>Drug abuse, dirty needles fueling HIV crisis in Indiana</h2>
				<h5>CBS News: April 7, 2015</h5>
				<p>Kevin Polly was diagnosed with HIV seven weeks ago. He's one of 89 new cases of HIV diagnosed in Austin, Indiana over the last few months. And yet, he has no plans to quit injecting a drug called Opana, an opiate painkiller being sold on the streets for $100 a pill. On the day Polly spoke with CBS News, he'd already done it three times -- before two o'clock in the afternoon. "The number one priority, you know, was to getting to feel better," Polly said.

 <%=link_to 'read more', "http://www.cbsnews.com/news/drug-abuse-dirty-needles-fueling-hiv-crisis-in-indiana/", target: "_blank" %></p>
				</div>

				<div class="col-md-4">
				<h2>Researchers find virus mimics an online infection</h2>
				<h5>DailyMail: April 2, 2015</h5>	
				<p>A new model for HIV progression shows that it spreads in a similar way to some computer 'worms'. HIV specialists and network security experts at University College London (UCL) made the disovery after creating a simulation of how the virus spreads. They worked together to build a model for this 'hybrid spreading' which accurately predicted patients' progression from HIV to AIDS in a major clinical trial - and say early treatment is key to staving off AIDS. 
				<%= link_to 'read more'," http://www.dailymail.co.uk/sciencetech/article-3023671/HIV-spreads-like-computer-virus-Researchers-spread-mimics-online-infection-warn-early-detection-key.html#ixzz3WjdG31U1", target: "_blank" %>
				</p>
				</div>
		</div><!--closes "row"!-->
	</div> <!-- closes container!-->

<div class="pictureart"></div>


