<a id="Info"></a>

<div class="container"> 
		<div class="row">
			<div class="page-header">
				<h1>Information</h1>
			</div>
			
				<div class="col-md-4">
				<h2>Would A Pill To Protect Teens From HIV Make Them Feel Invincible?</h2>
				<h5>NPR: MARCH 11, 2015</h5>
				<p>Leon Richardson is 18 years old and tall, charismatic and thoughtful about his sexual health. He understands that as a young, gay black man, he is in the demographic with the highest rate of HIV infections in the country. But when Richardson learned that he could be part of an HIV prevention pill research study for young people, he was skeptical. "I was scared. I had to really think about it, 'What is this drug going to do to me?' " he says. <%= link_to 'read more', "http://www.npr.org/blogs/health/2015/03/11/392362374/would-a-pill-to-protect-teens-from-hiv-make-them-feel-invincible", :target => "_blank" %> </p>

				</div>

				<div class="col-md-4">
				<h2>HIV Information Here</h2>
				<p>This is the second of the third paragraphs, consectetur adipiscing elit. Sed suscipit vestibulum dignissim. Nunc at lacus euismod, ullamcorper orci a, pulvinar mi. Nam leo dui, ultrices sit amet magna id, pharetra hendrerit tellus. Suspendisse viverra eros vitae bibendum lobortis. Sed eget rhoncus sapien. Integer aliquam eros enim, non suscipit neque fringilla sed. In turpis urna, eleifend et erat sed, pulvinar commodo ligula. Nulla sit amet porttitor dolor. Nulla at ipsum et ipsum aliquet feugiat. Proin nec arcu volutpat, dictum arcu mollis, iaculis tellus.</p></div>

				<div class="col-md-4">
				<h2>HIV Information Here</h2>	
				<p>This is the second of the third paragraphs, consectetur adipiscing elit. Sed suscipit vestibulum dignissim. Nunc at lacus euismod, ullamcorper orci a, pulvinar mi. Nam leo dui, ultrices sit amet magna id, pharetra hendrerit tellus. Suspendisse viverra eros vitae bibendum lobortis. Sed eget rhoncus sapien. Integer aliquam eros enim, non suscipit neque fringilla sed. In turpis urna, eleifend et erat sed, pulvinar commodo ligula. Nulla sit amet porttitor dolor. Nulla at ipsum et ipsum aliquet feugiat. Proin nec arcu volutpat, dictum arcu mollis, iaculis tellus.</p>
				</div>
		</div><!--closes "row"!-->
	</div> <!-- closes container!-->

<div class="pictureart"></div>


