<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="" class="navbar-brand">NYC-SRC</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse">
		<% if user_signed_in? %>
			<a href="#Signin" class="btn btn-info navbar-btn navbar-right">Sign Out</a>
	
		<% else %>

			<a href="#Signin" class="btn btn-info navbar-btn navbar-right">Sign in</a>
		<% end %>

			<ul class="nav navbar-nav">
				<li><a href="#Map">Map</a></li>
				<li><a href="#Stats">Stats</a></li>
				<li><a href="#Info">Articles</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="images">
<div class="container">
	<div class="row">
		<div class="com-md-12">
			<h1 id="name_content">NYC-SRC</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4" id="name_content1">
			<h1>STATUS</h1> 
			<%= image_tag('group-pic.jpg', class: "box1") %>
		</div>
		<div class="col-md-4" id="name_content1">
			<h1>RESOURCES</h1>
			<%= image_tag('redribbon.jpg', class: "box2") %>
		</div>
		<div class="col-md-4" id="name_content1">
			<h1>CONNECTIONS</h1>
			<%= image_tag('young-guy.jpg', class: "box3") %>
		</div>
	</div>
</div>
</div>


