	<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
		<div class="container">
			<!-- <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p> -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="" class="navbar-brand">NYC-SRC</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<a href="#signin" class="btn btn-info navbar-btn navbar-right">Sign in</a>
				<ul class="nav navbar-nav">
					<li><a href="#Map">Map</a>
					<li><a href="#Stats">Stats</a>
					<li><a href="#Articles">Articles</a>

				</ul>
			</div>
		</div>
	</nav>
<div class-"container-fluid">
	<div id="name">
		<h1 id="name_content">NYC-SRC</h1>
		<div class="boxdiv">
			<div class="box1"></div>
			<div class="box2"></div>
			<div class="box3"></div>
		</div> <!--closes box div!-->
	</div>
	
	<div class="images"></div>


	


<!--<!/div>



		<ul>
		<li>Stats</li>
		<li>Map</li>
		<li>Stories</li>			
		</ul>



</div> 
		
<div class="container">
	<section>
		<div class="page-header" id="stats"></div>
	</section>
</div>!-->



