	<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
		<div class="container">
			<!-- <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p> -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="" class="navbar-brand">HealthFinder</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<a href="" class="btn btn-info navbar-btn navbar-right">Sign in</a>
				<ul class="nav navbar-nav">
					<li><a href="#stats">Stats</a>
					<li><a href="">Map</a>
					<li><a href="">Stories</a>

				</ul>
			</div>
		</div>
	</nav>

	<!-- Jumbotron -->
	<div class="jumbotron">
		<div class="container text-center">
			<h1>HealthfinderNYC</h1>
		</div>
		<h3>Background image goes here</h3>
		<h3> Box 1</h3>
		<h3> Box 2</h3>
		<h3> Box 3 </h3>
	</div>
<div class="container">
	<section>
		<div class="page-header" id="stats"></div>
	</section>
</div>