<div class="container">
	<div class="row">
		<div class="page-header">
			<h1> Find A Health Location </h1>
		</div>   
   <h3>Search by Borough</h3>
		
		<div id="filter">
		<ul style= "list-style: none">
				<li><input type="radio" name="borough" id="bronxCheckbox" onclick="toggleGroup('Bronx')"/> Bronx
				</li>
				<li><input type="radio" name="borough" id="brooklynCheckbox" onclick="toggleGroup('Brooklyn')"/> Brooklyn
				</li>
				<li><input type="radio" name="borough" id="manhattanCheckbox" onclick="toggleGroup('Upper Manhattan')"/> Upper Manhattan
				</li>
				<li><input type="radio" name="borough" id="manhattanCheckbox" onclick="toggleGroup('Lower Manhattan')"/> Lower Manhattan
				</li>
				<li><input type="radio" name="borough" id="queensCheckbox" onclick="toggleGroup('Queens')"/> Queens
				</li>
				<li><input type="radio" name="borough" id="statenCheckbox" onclick="toggleGroup('Staten Island')"/> Staten Island
				</li>
			</ul>

		</div>

	<div style= "width: 1000px;">
			<div id="map" style="width: 50%; height: 400px;"></div>
	</div>
<script type="text/javascript">
 	clinics = <%= raw @hash.to_json %>;
	handler = Gmaps.build('Google');
	handler.buildMap(
 	{provider: {}, internal: {id:'map'}},
 	function() {
 		markers = handler.addMarkers(clinics);
 		handler.bounds.extendWith(markers);
		handler.fitMapToBounds();
    	// Gmaps.map.markers[0].serviceObject.setVisible(true);
	});

	function toggleGroup(borough) {
	  	var selected_clinics = [];
	    for (var i = 0; i < clinics.length; i++) {
	    	// var marker = marker[borough][i];
		    if (clinics[i].borough == borough) {
		      selected_clinics.push(clinics[i])
		    }
		}
	  	handler = Gmaps.build('Google');
		handler.buildMap(
	 	{provider: {}, internal: {id:'map'}},
		function() {
	 		markers = handler.addMarkers(selected_clinics);
	 		handler.bounds.extendWith(markers);
			handler.fitMapToBounds();
	    	// Gmaps.map.markers[0].serviceObject.setVisible(true);

		}); 
	};

</script>
</div>

<div class="empty"></div>

