
<a id="stats"></a>

 <div class="container"> 
	<div class="row">
		  <div class="col-md-4"> 
		  	<div id="box1">
			  	<div class="circle" id="first-circle"><p id="circle_text1">20%</p>
			    </div>
			    <div id="stats1">1 in 5 people who are HIV+ do not know thier status.</div>
			</div>
		  </div>

			<div class="col-md-4"> 
				<div id="box2">
				<div class="circle" id="second-circle"><p id="circle_text2">33%</p>
		    		<div id="stats2">In the first half of 2011, one-third of new HIV/AIDS diagnoses among males in New York City were in young men aged 20-29.</div>
		    	</div>
		    	</div>
		  	</div>	

			<div class="col-md-4"> 
				<div id="box3">
				<div class="circle" id="third-circle"><p id="circle_text3">#1</p>
		    		<div id="stats3">New York leads the nation in the number of new HIV cases.</div>
		    	</div>
		    	</div>
		  	</div>	
	</div>
</div>