<!-- 	<h2>Stats</h2>
<div class="container">
	<section>
<div class="page-header" id="stats">
	<div class="row">
			<div class="col-md-4">
					<p><ul>
						<li>Approximately 129,000 people are diagnosed with HIV/AIDS in New York State.</li>
						<li> Almost 80% live in New York City.</li>
						<li>Almost 4,000 New Yorkers will be infected with HIV this year.</li>
						</ul>
					</p>
 			</div>
 					
 			<div class="col-md-4">
				<p><ul>
					<li>New York leads the nation in the number of new HIV cases.</li>
					<li>In the first half of 2011, one-third of new HIV/AIDS diagnoses among males in New York City were in young men aged 20-29.</li>
					<li>93% of new HIV/AIDS diagnoses among females in New York City were in black or Hispanic women in the first half of 2011.</li>
					</ul>
				</p>
 			</div>

 			<div class="col-md-4">
				<p><ul>
					<li>77% of people living with HIV in New York are over forty. 42% of positive New Yorkers are over fifty.</li>
					<li>In 2010 nearly 1700 people in New York City died from AIDS-related causes.</li>
					<li>To date, over 100,000 New Yorkers have died from AIDS-related causes.</li>
				</p>
 			</div>
 	</div> <!End Row -->
 <!-- </div> --> 
 <div class="container">
	<div class="row">
		  <div class="col-md-4"> 
		  	<div class="circle" id="first-circle">
		    	<div id="stats1"># of New Yorkers that will</div>
		    </div>
		  </div>

			<div class="col-md-4"> 
				<div class="circle" id="second-circle">
		    		<div id="stats2">Stats</div>
		    	</div>
		  	</div>	

			<div class="col-md-4"> 
				<div class="circle" id="third-circle">
		    		<div id="stats3">Stats</div>
		    	</div>
		  	</div>	
	</div>
</div>