// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg-image {

}

.bg-waterfall {
	background: img('waterfall.png')
}

.bg-forest {
	background: img('forest.png')
}

// <div class="bg-image bg-waterfall">...</div>
// <div class="bg-image bg-forest">...</div>