// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, #map-canvas {
	height: 100%; 
	margin: 0; 
	padding: 0;
}

/*.images {
	background-image: url("skyshot.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center;
	height: 1000px;
	width: 1400px;
	z-index: -1;
}*/

#name {
	text-align: center;
	margin-top: 200px;
}
.box1, .box2, .box3 {
	height: 300px;
	width: 300px;
	background-color: black;
	color: white;
	list-style: none;
	display: inline-block;
	margin-top: 100px;
	margin-right: 50px;
	margin-left: 50px;

}

