// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, {
	height: 100%;
	padding: 0;
	/*background-color: red;*/
}

#map {}

.images {
	background-image: url("skyshot.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center;
	height: 1800px;
	width: 100vw;
	z-index: -1;

}

#name {
	//font-style: helvetica;
	//font-size: 100px;
	// text-align: center;
	margin-top: 300px;
	// background-color: black;
	// border-style: 2px solid red;
	/*position: fixed;*/
	/*color:red;*/
	width: 100vw;
	height: 200px;
	/*border:10px solid red;*/
	position: absolute;
	z-index: 10;
}

#name_content {
	font-size: 100px;
	width: 500px;
	height: 300px;
	margin:0 auto;
	color: red;
	/*border:5px solid green;*/
}
.box1, .box2, .box3 {
	height: 350px;
	width: 300px;
	background-color: black;
	list-style: none;
	display: inline-block;
	margin-top: 100px;
	margin-right: 20px;
	margin-left: 60px;

}
.boxdiv {
	height: 650px;
	/*border:5px solid red;*/
	margin-top: 130px;
	background-color: white;

}

#my-navbar {
	width: 100vw;
}

/*articles*/
a:hover {
	text-decoration: none;
}

.empty {
	background-image: url("brooklyn-bridge.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center;
	height: 600px;
	width: 100vw;
	z-index: -1;

}

.picture {
	background-image: url("Freedom.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center;
	height: 700px;
	width: 100vw;
	z-index: -1;

}

.pictureart {
	background-image: url("NYC.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center;
    background-size: cover;
	height: 700px;
	width: 100vw;
	z-index: -1;

}

.containerarticles {
	height: 450px;
	/*border:5px solid red;*/
	/*margin-top: 100px;*/
	/*background-color: blue;*/

}







.row {
	height: 500px;
	/*border:5px solid red;*/
	/*margin-top:130px;
	background-color: white;*/
	text-align: justify;
	/*margin-left: 20px;
	margin-right: 20px;*/
}

















































.circle{
  border-radius: 50% 50%;
  width: 200px;
  height: 200px;
  background-color: red;
  text-align: center;
  position:absolute;
  z-index: -5;
}

#box1, #box2, #box3{
  width:220px;
  height:220px;
  background-color:rgba(0,0,0,0);
  z-index:10;
}

#circle_text1, #circle_text2{
  font-size: 5em;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  margin-left: .2em;
}

#circle_text3{
  font-size: 6em;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  margin-left: .2em;
}

#stats1, #stats2, #stats3 {
  display: none;
}

#stats1:hover, #stats2:hover, #stats3:hover {
  text-align: center;
  vertical-align: middle;
  line-height:175px;
}
