// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, {
	height: 100%;
	padding: 0;
	/*background-color: red;*/
}
#my-navbar {
	width: 100vw;
	height: 60px;
}
/*
#map{
	float: left;
	overflow: none;
}*/

#map-info {
	display: inline-block;
}



.container-fluid {
}

.images {
	background-image: url("skyshot.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center;
	height: 1800px;
	width: 100vw;
	z-index: -1;

}

#name {
	//font-style: helvetica;
	//font-size: 100px;
	// text-align: center;
	margin-top: 230px;
	// background-color: black;
	// border-style: 2px solid red;
	/*position: fixed;*/
	/*color:red;*/
	width: 100vw;
	height: 200px;
	/*border:10px solid red;*/
	position: absolute;
	z-index: 10;
}

#name_content {
	font-size: 100px;
	width: 500px;
	height: 150px;
	margin:0 auto;
	color: red;
	margin-top: 100px;
	/*border:5px solid green;*/
}
.row1 {
	margin-top: 70px;
	margin-left: 95px;
}

#name_content1 {
  font-size: 1.5em;
  margin:0 auto;
  color: red;
}
.box1, .box2, .box3 {
	height: 330px;
	width: 350px;
	/*background-color: black;*/
	list-style: none;
	display: inline-block;
	margin-top: 100px;
	margin-right: 20px;
	margin-left: 50px;
}



 .boxdiv {
	height: 650px;
	/*border:5px solid red;*/
	/*margin-top: 130px;*/
 	background-color: white;

 }




/*articles*/

p {
	padding: 15px;
	line-height: 26px;
	font-size: 18px;
}

.article-show {
	padding-left: .5em;
}

#show-article {
	margin: 0 auto;
}

.empty {
	background-image: url("brooklyn-bridge.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center;
	height: 600px;
	width: 100vw;
	z-index: -1;
}

.picture {
	background-image: url("Freedom.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center;
	height: 600px;
	width: 100vw;
	z-index: -1;
}

.pictureart {
	background-image: url("NYC.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center;
    background-size: cover;
	height: 600px;
	width: 100vw;
	z-index: -1;
}

.containerarticles {
	height: 450px;
	/*border:5px solid red;*/
	/*margin-top: 100px;*/
	/*background-color: blue;*/
}

.row {
	height: 700px;
	/*border:5px solid red;*/
	/*margin-top:130px;
	background-color: white;*/
	text-align: justify;
	/*margin-left: 20px;
	margin-right: 20px;*/
}


#sign {
	height: 200px;
	margin-bottom: 250px;
	margin-right: 50px;
	margin-top: 40px;
 }

// .containersign {
// 	height: 150px;
// 	margin-bottom: 200px;
// 	margin-right: 50px;
// 	color: red;

// }









/*articles page*/


section {
	/*float: right;*/
	margin-bottom: 50px;
	height: 500px;
	max-width: 1300px;
	/*background-color: grey;*/
	/*margin: 100px 100px 100px 100px;*/
	/*border: 2px solid black;*/
	/*padding-bottom: 100px 100px 100px 100px;*/
}

.twitter-timeline {
	/*float: right;*/
	/*display: inline-block;*/
	height: 300px;
	width: 500px;
	/*margin-right: 100px;*/
	padding-bottom: 50px;
	margin-top: 20px;
	margin-bottom: 50px;
}

/*.ntlhiv {
	float: right;
	margin: 60px 60px 40px 80px;
	padding-top: 50px;
	}*/

.blog {
	float: right;
	
}
.res {
	float: right;
}

// .widg{
// 	float: right;
// 	}

// .sectiontwo {
// 	height: 600px;
// 	width: 600px;
// }






.circle{
  border-radius: 50% 50%;
  width: 300px;
  height: 300px;
  background-color: red;
  text-align: center;
  position: absolute;
  margin-top: 160px;
  z-index: -5;
}

#box1, #box2, #box3{
  width: 220px;
  height: 220px;
  background-color: rgba(0,0,0,0);
  z-index: 10;
}

#circle_text1, #circle_text2{
  font-size: 8em;
  text-align: center;
  vertical-align: middle;
  line-height: 270px;
  margin-left: .2em;
}

#circle_text3{
  font-size: 8em;
  text-align: center;
  vertical-align: middle;
  line-height: 270px;
  margin-left: .3em;
}

#stats1, #stats2, #stats3 {
  display: none;
  font-size: 30px;

}

#stats1:hover, #stats2:hover, #stats3:hover {
  text-align: center;
  vertical-align: middle;
  line-height:175px;
  font-size: 20px;
  /*line-height:175px;*/
}

#show1 {
	font-size: 50px;
}
#show2 {
	font-size: 50px;
}
#show3 {
	font-size: 50px;
}


