// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, #map-canvas {
	height: 100%; 
	margin: 0; 
	padding: 0;
}


























































































.circle{
  border-radius: 50% 50%;
  width: 200px;
  height: 200px;
  background-color: red;
  text-align: center;
  position:absolute;
  z-index:-5;
}

#box1{
  width:220px;
  height:220px;
  border:1px solid black;
  background-color:rgba(0,0,0,0);
  z-index:10;
}

#box2{
  width:220px;
  height:220px;
  border:1px solid black;
  background-color:rgba(0,0,0,0);
  z-index:10;
}

#box3{
  width:220px;
  height:220px;
  border:1px solid black;
  background-color:rgba(0,0,0,0);
  z-index:10;
}





#stats1{
  visibility: hidden;
  text-align: center;
  vertical-align: middle;
  line-height:175px;
}

#stats2{
  visibility: hidden;
  text-align: center;
  vertical-align: middle;
  line-height:175px;
}

#stats3{
  visibility: hidden;
  text-align: center;
  vertical-align: middle;
  line-height:175px;
}















