<div class="container">
	<div class="row">
		<body>
		  <div class="col-md-4" id="circle">
		    <div id="stats">Stats</div>
		  </div>
		</body>

		<body>
			<div class="col-md-4" id="circle">
		    	<div id="stats">Stats</div>
		  	</div>	
		</body>

		<body>
			<div class="col-md-4" id="circle">
		    	<div id="stats">Stats</div>
		  	</div>	
		</body>
	</div>
</div>